extends ./layout.jade

block content
  img.img-rounded(src='/images/booth1.jpg', alt='booth', width='350', align='right', hspace='25')
  h1 404 Page Not Found
  h3 We're sorry that we couldn't find the page that you were looking for. If this was the result of an error on our part, please do us a favor and let us know via our contact page.
  a.btn.btn-primary.btn-lg(href='/', role='button') LonelyTable Homepage

  include includes/foot.jade