extends ./layout.jade

block content
  h1 About Us
  p  Lonelytable was created to help individuals and small groups enjoy all the perks of bottle service at the most popular clubs without having to reserve entire tables. It's a great way for visitors to San Francisco enjoy a night out while making new friends and not having to wait in line at the door. 
  .row
    .col-xs-3(align="right")
      img.img-circle(src='/images/hamlet.jpg', alt='Hamlet', width='110')
    .col-xs-9
      h3.subTitle Hamlet
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum optio possimus rerum, eveniet ea magnam enim tempora voluptates fugit corporis nihil pariatur magni, quasi perspiciatis reprehenderit quo blanditiis dolorem dignissimos.
      p
  .row
    .col-xs-3(align="right")
      img.img-circle(src='/images/uthra.jpg', alt='Uthra', width='110')
    .col-xs-9
      h3.subTitle Uthra
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum optio possimus rerum, eveniet ea magnam enim tempora voluptates fugit corporis nihil pariatur magni, quasi perspiciatis reprehenderit quo blanditiis dolorem dignissimos.
      p
  .row
    .col-xs-3(align="right")
      img.img-circle(src='/images/jeff.jpg', alt='Jeff', width='110')
    .col-xs-9
      h3.subTitle Jeff
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum optio possimus rerum, eveniet ea magnam enim tempora voluptates fugit corporis nihil pariatur magni, quasi perspiciatis reprehenderit quo blanditiis dolorem dignissimos.
      br
      br
  .row
  img.img-rounded(src='/images/bottles1.jpg', alt='Lasers', width='350', align='right', hspace='25')
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos deleniti aliquid laboriosam soluta reprehenderit aperiam aspernatur delectus vero earum nobis explicabo nihil, mollitia voluptates temporibus perferendis quis reiciendis molestiae sapiente.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, possimus. Optio fuga voluptates velit, itaque sapiente placeat ipsum similique voluptas neque consectetur, ratione ut excepturi inventore, rem asperiores dignissimos odio!
  p
  include includes/foot.jade