extends ./layout.jade

block content

  img.img-rounded(src='/images/bottles2.jpg', alt='bottles', width='350', align='right', hspace='25')
  h1 Getting Started
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis numquam, iure, distinctio accusamus sit blanditiis molestias molestiae ipsam repellendus commodi itaque recusandae dolorem accusantium illo eaque culpa rem deleniti explicabo!
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, obcaecati optio. Similique quaerat praesentium labore maxime distinctio, officia a voluptas, et vel, atque eius, repellat! Atque voluptas aut voluptatibus, magni.
  a.btn.btn-primary(href='/venues', role='button') Find your table now
  include includes/foot.jade